body {
    background: #354;
    color: #ccc;
}
.read {
    font-weight: 400;
    font-family: sans-serif;
}
figure {
    display: inline-block;
    position: relative;
}
figcaption > * {
    display: block;
}
figcaption > button {
    position: absolute;
    margin-top: -3em;
    margin-left: 1em;
}
#readout {
    position: fixed;
    right: .5em;
    bottom: .5em;
    background: #ccc;
    color: #333;
    padding: .167em .333em;
}
#readout > * {
    display: inline-block;
}
#xy-coordinate {
    width: 6.5em;
}
#rgb-sample {
    width: 1em;
    height: 1em;
    vertical-align: -.167em;
    margin: 0 .333em;
}
#rgb-value {
    width: 10em;
}
#color-model:not(:empty) {
    width: 3.5em;
}
#color-profile:not(:empty) {
    width: 7em;
}
aside {
    position: fixed;
    right: 0;
    top: 0;
    max-width: 40em;
    max-height: 100vh;
    overflow: scroll;
    font: caption;
    background: #abc;
    color: #345;
}
aside > * {
    margin: 1% 2%;
}
tbody {
    vertical-align: top;
}
