body {
    background: #354;
    color: #ccc;
}
.read {
    font-weight: 400;
    font-family: sans-serif;
}
figure {
    display: inline-block;
    position: relative;
}
figcaption > * {
    display: block;
}
figcaption > buttongroup {
    position: absolute;
    margin-top: -2.333em;
    margin-left: 1em;
}
#readout {
    position: fixed;
    right: .5em;
    bottom: .5em;
    width: 19em;
    background: #ccc;
    color: #333;
    padding: .167em .333em;
}
#readout > * {
    display: inline-block;
    float: left;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#xy-coordinate {
    width: 6.5em;
}
#rgb-sample {
    width: 1em;
    height: 1em;
    vertical-align: -.167em;
    margin: 0 .333em 0 0;
}
#rgb-value {
    width: 10em;
}
#color-model {
    width: 6.5em;
}
#color-profile {
    width: 12.5em;
}
aside {
    position: fixed;
    right: 0;
    top: 0;
    max-width: 40em;
    height: 100vh;
    overflow: scroll;
    font: caption;
    background: #abc;
    color: #345;
}
aside > * {
    padding: 1% 2%;
}
caption {
    font-weight: 500;
    font-size: 1.2em;
    color: #c48;
    white-space: nowrap;
    display: block;
}
tbody {
    vertical-align: top;
}
td {
    padding: 0 2% 0 0;
}
